<nav class="top-bar navbar-background" data-topbar>
    <ul class="title-area">
        <li class="name">
            <div id="pagetitle"><img src="{{site.baseurl}}/img/Uqbar-celeste.svg" height="100px" width="100px" /></div>
        </li>
    </ul>
    <ul class="left">
        <div class="mobile">
            <div class="navbar-buttons">
                <div class="navbar-icon-link">
                    <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/img/wiki/home-2.png" height="25px"
                            width="25px" title="Home" /></a>
                </div>
                <div class="navbar-icon-link">
                    <a href="{{site.baseurl}}/articles"><img src="{{site.baseurl}}/img/wiki/list.png" height="25px"
                            width="25px" title="Artículos" /></a>
                </div>
            </div>
        </div>
    </ul>
</nav>