// sidebar sass

div.sidebar
  background-color: $white
  height: 100%

.side-nav li a:not(.button)
  color: $side-nav-link-color

li.button
  background-color: $white
  padding: 0
  text-align: left

