/* http://prismjs.com/download.html?themes=prism&languages=markup+css+clike+javascript+abap+actionscript+ada+apacheconf+apl+applescript+asciidoc+aspnet+autoit+autohotkey+bash+basic+batch+c+brainfuck+bro+bison+csharp+cpp+coffeescript+ruby+css-extras+d+dart+diff+docker+eiffel+elixir+erlang+fsharp+fortran+gherkin+git+glsl+go+graphql+groovy+haml+handlebars+haskell+haxe+http+icon+inform7+ini+j+jade+java+json+julia+keyman+kotlin+latex+less+livescript+lolcode+lua+makefile+markdown+matlab+mel+mizar+monkey+nasm+nginx+nim+nix+nsis+objectivec+ocaml+oz+parigp+parser+pascal+perl+php+php-extras+powershell+processing+prolog+properties+protobuf+puppet+pure+python+q+qore+r+jsx+rest+rip+roboconf+crystal+rust+sas+sass+scss+scala+scheme+smalltalk+smarty+sql+stylus+swift+tcl+textile+twig+typescript+verilog+vhdl+vim+wiki+xojo+yaml */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code[class*="language-"] {
    color: black;
    background: none;
    text-shadow: 0 1px white;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

pre[class*="language-"] {
    color: black;
    background: none;
    text-shadow: 0 1px white;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
&::-moz-selection, ::-moz-selection {
     text-shadow: none;
     background: #b3d4fc;
 }
}

code[class*="language-"] {
&::-moz-selection, ::-moz-selection {
     text-shadow: none;
     background: #b3d4fc;
 }
}

pre[class*="language-"] {
&::selection, ::selection {
     text-shadow: none;
     background: #b3d4fc;
 }
}

code[class*="language-"] {
&::selection, ::selection {
     text-shadow: none;
     background: #b3d4fc;
 }
}

@media print {
    code[class*="language-"], pre[class*="language-"] {
        text-shadow: none;
    }
}

/* Code blocks */

pre[class*="language-"] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
}

:not(pre) > code[class*="language-"], pre[class*="language-"] {
    background: #f5f2f0;
}

/* Inline code */

:not(pre) > code[class*="language-"] {
    padding: .1em;
    border-radius: .3em;
    white-space: normal;
}

.token {
&.comment, &.prolog, &.doctype, &.cdata {
                                     color: slategray;
                                 }
&.punctuation {
     color: #999;
 }
}

.namespace {
    opacity: .7;
}

.token {
&.property, &.tag, &.boolean, &.number, &.constant, &.symbol, &.deleted {
                                                                   color: #905;
                                                               }
&.selector, &.attr-name, &.string, &.char, &.builtin, &.inserted {
                                                           color: #690;
                                                       }
&.operator, &.entity, &.url {
                           color: #a67f59;
                           background: hsla(0, 0%, 100%, 0.5);
                       }
}

.language-css .token.string, .style .token.string {
    color: #a67f59;
    background: hsla(0, 0%, 100%, 0.5);
}

.token {
&.atrule, &.attr-value, &.keyword {
                             color: #07a;
                         }
&.function {
     color: #DD4A68;
 }
&.regex, &.important, &.variable {
                           color: #e90;
                       }
&.important, &.bold {
                  font-weight: bold;
              }
&.italic {
     font-style: italic;
 }
&.entity {
     cursor: help;
 }
}